# Editor files
.idea

# Temporary files
/db.sqlite3
logs
*.log

# Executable files
housekeeper-telegram-bot
housekeeper_telegram_bot
housekeeper-telegram-bot.exe
housekeeper_telegram_bot.exe

# Custom scripts
start.sh